{% extends "main.twig" %}

{% block title %} FileSharing &mdash; file description {% endblock title %}
{% block head %}
  {{ parent() }}
  <link type="text/css" href="/vendor-css/jplayer.blue.monday.min.css"
    rel="stylesheet">
  <script type="text/javascript" src="/vendor-js/jquery.jplayer.min.js">
  </script>
  <script type="text/javascript" src="/vendor-js/handlebars.min.js"></script>
  <link rel="stylesheet" href="/css/file-description.css">
  <script src="/js/comment-ajax.js"></script>
  <script src="/js/comment-form.js"></script>
  <script src="/js/edit-file.js"></script>
{% endblock head %}

{% block content %}
  <div class="container">

    <div class="file-description table-responsive panel panel-primary">
      <div class="panel-heading">File description</div>
      {% if file.description %}
        <div class="panel-body">
          <p>{{ file.description }}</p>
        </div>
      {% endif %}
      <table class="table">
        <tr>
          <td>Name</td>
          <td>{{ file.name|truncate(50) }}</td>
        </tr>
        <tr>
          <td>File type</td>
          <td>{{ file.mime_type }}</td>
        </tr>
        {% if file.isImage() %}
            {% include "image_description.twig" %}
        {% elseif file.isVideo() %}
            {% include "video_description.twig" %}
        {% elseif file.isAudio() %}
            {% include "audio_description.twig" %}
        {% endif %}
        <tr>
          <td>Downloads</td>
          <td id="downloadCounter">{{ file.download_counter }}</td>
        </tr>
        <tr>
          <td>Uploaded</td>
          <td>{{ file.upload_time }}</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{ callStaticMethod(
            '\\FileSharing\\Helper\\ViewHelper',
            'formatSize',
            [file.size]) }}
          </td>
        </tr>
        <tr>
          <td>
            {% if (loginManager.isLogged() and
            loginManager.getUserID() == file.author_id) or
            loginManager.token == file.author_token %}
                <a href="/edit/{{file.id}}" class="btn btn-warning pull-right"
                id="modal-trigger">update</a>
            {% endif %}
          </td>
          <td>
            <a class="btn btn-success"
                    href="/{{callStaticMethod(
                    '\\FileSharing\\Helper\\ViewHelper',
                    'getDownLoadUrl',
                    [file.id, file.name])}}"
                    id="downloadLink">download
            </a>
          </td>
        </tr>
      </table>
    </div><!-- div.table-responsive -->

    <div class="modal fade" id="modalForms" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Update file</h4>
          </div>
          <div class="modal-body">
            {% include "file_form.twig" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!-- modal -->

    {% if file.isImage() %}
        {% include "image_preview.twig" %}
    {% elseif file.isVideo() %}
        {% include "video_player.twig" %}
    {% elseif file.isAudio() %}
        {% include "audio_player.twig" %}
    {% endif %}

    <div class="file-description" id="comments">
        <form action="" method="POST" name="comment_form"
        class="comment-form file-description clearfix" id="commentForm">
            <div class="form-group">
                <div id="reply" class="hidden" data-reply-id>
                    <span class="reply-container"></span>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <textarea name="comment_form[contents]" placeholder="Leave a comment..."
                    class="comment-area form-control" rows="3"></textarea>
                <input type="hidden" class="replyID" name="comment_form[reply_id]"
                    value="{{ reply }}">
            </div>
            <p class="text-danger" id="errorMessage">{{ form.errorMessage }}</p>
            <input type="submit" value="send" class="btn btn-primary">
            {% if not loginManager.islogged() %}
                <div class="comment-captcha">
                    <img id="captcha-img" src="/image/captcha_generator.php"
                        alt="captcha"><br>
                    <input type="text" name="comment_form[captcha]">
                </div>
            {% endif %}
            <script type="text/javascript">
              var fileID = {{ file.id }};
            </script>
        </form>

        {% verbatim %}
        <script type="text/x-handlebars-template" id="commentTemplate">
            <div class="media alert alert-info level-{{level}}" data-level="{{level}}">
                <div class="media-left">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{login}}</h4>
                    <p class="comment-text">{{contents}}</p>
                    <span class="added">{{added}}</span>
                    <a href="/view/{{file_id}}?reply={{comment_id}}"
                    data-reply-id="{{comment_id}}"
                    class="reply">#{{comment_id}} Reply</a>
                </div>
            </div>
        </script>
        {% endverbatim %}

        {% for couple in commentsAndAuthors %}
        <div class="media alert alert-info level-{{couple['comment'].level}}"
            data-level="{{couple['comment'].level}}">
            <div class="media-left">
                <span class="glyphicon glyphicon-comment"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ couple['author'].login|default('Anonymous') }}
                </h4>
                <p class="comment-text">{{ couple['comment'].contents }}</p>
                <span class="added">{{ couple['comment'].added }}</span>
                <a href="/view/{{file.id}}?reply={{couple['comment'].id}}"
                    data-reply-id="{{couple['comment'].id}}" class="reply">
                    #{{couple['comment'].id}} Reply
                </a>
            </div>
        </div>
        {% endfor %}
    </div><!-- div#comments -->

  </div><!-- div.container -->

{% endblock content %}
