{% extends "main.twig" %}

{% block title %} FileSharing &mdash; uploaded files {% endblock title %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/file-list.css">
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 center-block content">
            <div class="table-responsive panel panel-primary">
                <div class="panel-heading">Recently uploaded files</div>
                <table class="table table-hover table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Uploaded</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                    {% for file in list %}
                    <tr>
                        <td>
                            {% if file.isImage() %}
                                {% set icon = 'picture' %}
                            {% elseif file.isVideo() %}
                                {% set icon = 'film' %}
                            {% elseif file.isAudio() %}
                                {% set icon = 'music' %}
                            {% elseif file.isArchive() %}
                                {% set icon = 'gift' %}
                            {% else %}
                                {% set icon = 'file' %}
                            {% endif %}
                            <span class="icon-type glyphicon glyphicon-{{icon}}"></span>
                            <a href="{{ callStaticMethod(
                                '\\FileSharing\\Helper\\ViewHelper',
                                'getDetailViewUrl',
                                [file.id]
                            ) }}">{{ file.name|truncate(30) }}</a>
                        </td>
                        <td>{{ file.upload_time }}</td>
                        <td>
                            {{ callStaticMethod(
                                '\\FileSharing\\Helper\\ViewHelper',
                                'formatSize',
                                [file.size]
                            ) }}                            
                        </td>
                        <td>
                            <a href="/{{callStaticMethod(
                            '\\FileSharing\\Helper\\ViewHelper',
                            'getDownLoadUrl',
                            [file.id, file.name])}}"
                            id="dowloadLink">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div><!-- .table-responsive -->
        </div><!-- .col-md-9 -->
    </div><!-- .row -->

    <div class="row">
        <nav class="col-md-9 center-block my-pager">
           <ul class="pagination pagination-sm">
            {% if pager.currentPage == pager.getFirstPage() %}
                <li class="disabled">
                    <a href=".">&laquo;</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ callStaticMethod(
                        '\\FileSharing\\Helper\\ViewHelper',
                        'getPagerLink',
                        [ pager.getPrevPage() ]
                    ) }}">&laquo;</a>
                </li>
            {% endif %}
            
            {% for i in range(pager.getFirstPage(), pager.getLastPage()) %}
                {% if i == pager.currentPage %}
                    <li class="active"><a href="">{{ i }}</a></li>
                {% else %}
                    <li>
                        <a href="{{ callStaticMethod(
                            '\\FileSharing\\Helper\\ViewHelper',
                            'getPagerLink',
                            [ i ]
                        ) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pager.currentPage != pager.getLastPage() %}
                <li>
                    <a href="{{ callStaticMethod(
                        '\\FileSharing\\Helper\\ViewHelper',
                        'getPagerLink',
                        [ pager.getNextPage() ]
                    ) }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled"><a href="">&raquo;</a></li>
            {% endif %}
            </ul>
        </nav><!-- pagination -->
    </div><!-- row -->

</div><!-- .container -->
{% endblock content %}
