{% extends "main.twig" %}

{% block title %}FileSharing &mdash; registration{% endblock title %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/login_form.css">
  <script src="/js/forms-functions.js"></script>
  <script src="/js/register-form.js"></script>
{% endblock head %}

{% block content %}

  <div class="container">
    <form action="/reg" method="POST" name="register" class="form-horizontal">

      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="register[email]"
          value="{{ registerForm.email|default('') }}" placeholder="email">
        </div>
      </div>

      <div class="form-group">
        <label for="login" class="col-sm-3 control-label">Login</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="login" name="register[login]"
          value="{{ registerForm.login|default('') }}" placeholder="login">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password"
          name="register[password]" value="{{ registerForm.password|default('') }}"
          placeholder="password">
        </div>
      </div>

      <div class="form-group">
        <label for="repeat-password" class="col-sm-3 control-label">Repeat password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="repeat-password"
          name="register[repeat_password]" placeholder="repeat password">
        </div>
      </div>

      <div class="alert alert-danger
        col-sm-offset-3 col-sm-9">{{ registerForm.errorMessage }}</div>
        
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="register[remember]" checked> Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
      </div>

    </form>
  </div>

{% endblock content %}
